<head>
        <link href='https://fonts.googleapis.com/css?family=Aclonica' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Alike' rel='stylesheet'>
    </head>
  <body>
<form  #form="ngForm" (ngSubmit)="login(form.value); form.resetForm()">
    
  <table align="center">
    <caption align="center">Customer Login </caption>
    <tr>
      <td><label for="emailId">Email</label></td>
      <td><input required pattern="^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$" #email="ngModel"   ngModel name="emailId" id="emailId" type="text" class="form-control"></td>
  </tr>
  <tr *ngIf="!email.valid && email.touched"><td></td><td>given email is invalid</td> </tr>
  <tr>
    <td><label for="password">Password</label></td>
    <td><input required #pass="ngModel" ngModel name="password" id="password" type="password" class="form-control" pattern="^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=.*[@!#$%^&*]).{8,}$"></td>
</tr>
<tr *ngIf="!pass.valid && pass.touched"><td></td><td>given password is weak</td> </tr>
<tr>
  <td colspan="2" align="center">
    <a [routerLink]="['/register']">new user?..Register</a>
  </td>
</tr>
<tr>
  <td colspan="2" align="center"><button class="btn btn-primary" [disabled]="!form.valid">Login</button></td>
</tr>

    </table>
</form>
</body>
